body, html, #root {
  width: 100%;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: antiquewhite;
}

.countBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  margin-bottom: 100px;
  background-color: white;
  border-radius: 30px;
  font-size: 60px;
}

.buttonSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

button {
  width: 150px;
  height: 50px;
  margin: 0 20px;
  background-color: white;
  border: 2px solid lightgray !important;
  border-radius: 30px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.365);
  font-size: 20px;
  cursor: pointer;
}